* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
    border: 1px solid red;
}

body {
    background-color: hsla(0, 0%, 90%, 1);
}

header {
    background-color: hsla(120, 50%, 50%, 1);
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-text h1 {
    font-family: 'Dela Gothic One', cursive;
    color: white;
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-color: blue;
}

.description {
    display: block;
    text-align: center;
}

.game-area {
    display: block;
}

.result-area {
    width: 50%;
    margin: 0 auto;
}

.result h3 {
    font-size: 24px;
}

.result p {
    font-size: 20px;
    text-align: center;
}

.player-area {
    border: 1px solid hsla(0, 0%, 75%, 1);
    border-radius: 1vw;
    height: 20vw;
    width: 25%;
}

.computer-pick {
    height: 100%;
    width: 100%;
    border-radius: 10%;
}

.selection-area {
    width: 33%;
    margin: 0 auto;
}

.hand-button {
    border-radius: 50%;
    min-height: 5vw;
    min-width: 5vw;
}